{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "color-named": ["never", { "severity": "warning" }],
    "color-no-hex": [true, { "severity": "warning" }],
    "max-nesting-depth": [3, { "severity": "warning" }],
    "order/order": ["dollar-variables", "declarations", { "type": "at-rule", "name": "include" }],
    "selector-max-compound-selectors": [3, { "severity": "warning" }],
    "selector-no-qualifying-type": [true, { "ignore": ["attribute", "class"] }],
    "string-quotes": "double"
  }
}
